.Controls {
  width: 100%;
  height: auto ;
  margin: auto;
  overflow: auto;
  text-align: center;
  font-size: 1.2rem;
}

.IngredientsControl{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
}

.IngredientsControl__title{
  width: 30%;
  text-transform: uppercase;
  font-weight: 700;
}

.IngredientsControl__btn{
  width: 25%;
  height: 40px;
  color: darkorange;
  font-size: 20px;
  font-weight: 700;
  background: transparent;
  border: 1px solid #555;
  border-radius: 5px;
}

.IngredientsControl__btn:hover{
  background: darkorange;
  color: #fff;
  cursor: pointer;
  border: 1px solid darkorange;
}

button[disabled]{
  color: #777;
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Controls {
    width: 700px;
    height: 600px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Controls {
    width: 450px;
    height: 300px;
  }
}

@media (min-width: 500px) and (max-height: 400px) {
  .Controls {
    width: 350px;
    height: 200px;
  }
}